.container{
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
}

.weather-card{
    width:380px;
    background:white;
    padding:30px;
    border-radius:20px;
    box-shadow:0 10px 30px rgba(0,0,0,.15);
    text-align:center;
}

.weather-card h1{
    margin-bottom:25px;
}

.search-box{
    display:flex;
    gap:10px;
}

.search-box input{
    flex:1;
    padding:12px;
    border:1px solid #ccc;
    border-radius:8px;
    outline:none;
    font-size:16px;
}

.search-box button{
    background:#1d4ed8;
    color:white;
    border:none;
    padding:12px 20px;
    border-radius:8px;
    cursor:pointer;
}

.search-box button:hover{
    background:#2563eb;
}

.weather-info{
    margin-top:30px;
}

.weather-info img{
    width:120px;
}

.weather-info h2{
    margin-top:10px;
    font-size:32px;
}

.weather-info h3{
    font-size:45px;
    margin:10px 0;
}

.details{
    display:flex;
    justify-content:space-between;
    margin-top:30px;
}

.details div{
    width:45%;
    background:#eef3ff;
    padding:15px;
    border-radius:10px;
}